<div>
  <img src="/assets/logo.png" alt="Profile Picture" />
  <p>
    Hi, I'm <strong>Lucas</strong>. I hold an MSc in Strategic Entrepreneurship from RSM and am currently completing my MSc in Climate & Sustainable Finance at Vrije Universiteit Amsterdam. I specialize in corporate finance, sustainable investing, and analyzing the real-world impact of green capital.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
