---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
const { current = "" } = Astro.props;
---

<style>
  .nav-container {
    position: relative;
    margin: 0 auto;
    max-width: 50em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 0.95em;
    gap: 1rem;
    padding: 0;
  }

  .theme-toggle-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 7px 10px;
    position: relative;
  }

  a::before {
    content: "";
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transform: scaleX(0);
  }

  a:hover::before,
  .selected::before {
    transform: scaleX(1);
  }
  
  @media screen and (max-width: 480px) {
    .nav-container {
      padding-top: 10px;
    }
  }
</style>

<div class="nav-container">
  <nav>
    <a class={current === "" ? "selected" : ""} href="/">Home</a>
    <a class={current === "bio" ? "selected" : ""} href="/bio">About</a>
  </nav>

  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</div>
